.DS_Store
.pyc
__pycache__/movie.cpython-38.pyc
__pycache__/movie.cpython-38.pyc
astra-inputs/astra_particles.txt
xta/__pycache__/movie.cpython-38.pyc
xta/__pycache__/tools.cpython-38.pyc
xta/__pycache__/scan.cpython-38.pyc
xta/__pycache__/plot.cpython-38.pyc
xta/__pycache__/xta.cpython-38.pyc
